<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ base_url() }}/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/app.css">
</head>
<body>
	{% include 'templates/partials/navigation.twig' %}
	<div class="container">
		{% include 'templates/partials/flash.twig' %}
		{% block content %}{% endblock %}
		
	</div>

	<script  src="{{ base_url() }}/../vendor/components/jquery/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ base_url() }}/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Pulled in test javascripts and css -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	
	<!-- Testing of a calendar -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.js'></script>

	<!-- application sheets -->
	<script src="{{ base_url() }}/js/editablefunctions.js"></script>
	<script src="{{ base_url() }}/js/calendarfunctions.js"></script>

</body>
</html>