{% if canedit %}

<tr>
	<td><a class="admin-editable" id="company_name" data-type="text" data-pk="{{row.id}}" data-page="companycontacts" data-url=".././admineditdata">
		{{ row.company_name }}
	</a></td>
	<td><a class="admin-editable" id="name" data-type="text" data-pk="{{row.id}}" data-page="companycontacts" data-url=".././admineditdata">
		{{ row.name }}
	</a></td>
	<td><a class="admin-editable" id="telephone" data-type="text" data-pk="{{row.id}}" data-page="companycontacts" data-url=".././admineditdata">
		{{ row.telephone }}
	</a></td>
	<td><a class="admin-editable" id="email" data-type="text" data-pk="{{row.id}}" data-page="companycontacts" data-url=".././admineditdata">
		{{ row.email }}
	</a></td>
	<td>
		{{ row.created }}
	</td>
</tr>

{% else %}

<tr>
	<td>
		{{ row.company_name }}
	</td>
	<td>
		{{ row.name }}
	</td>
	<td>
		{{ row.telephone }}
	</td>
	<td>
		{{ row.email }}
	</td>
	<td>
		{{ row.created }}
	</td>
</tr>

{% endif %}	


