{% if canedit %}

	{% if row.subscribed %}
		<tr>
	{% else %}
		<tr class="bg-danger">
	{% endif %}
		<td><a class="admin-editable" id="email" data-type="text" data-pk="{{row.id}}" data-page="newsletters" data-url=".././admineditdata">{{ row.email }}</a></td>
		<td>{{ row.created }}</td>
		{% if row.subscribed %}
			<td>Active</td>
		{% else %}
			<td><strong>Unsubscribed</strong></td>
		{% endif %}
		<td>
			<div class="dropdown">
				<button class="dropdown-toggle" type="button" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" class="admin-delete" data-pk="{{row.id}}" data-page="newsletters">Borrar</a></li>
					{% if row.subscribed %}
						<li><a href="#" class="admin-update" data-name="subscribed" data-newvalue="false" data-pk="{{row.id}}" data-page="newsletters">
							Set Unsubscribed
						</a></li>
					{% else %}
						<li><a href="#" class="admin-update" data-name="subscribed" data-newvalue="true" data-pk="{{row.id}}" data-page="newsletters">
							Set Subscribed
						</a></li>
					{% endif %}
				</ul>
			</div>
		</td>
	</tr>

{% else %}

	{% if row.subscribed %}
		<tr>
	{% else %}
		<tr class="bg-danger">
	{% endif %}
		<td>{{ row.email }}</td>
		<td>{{ row.created }}</td>
		{% if row.subscribed %}
			<td>Active</td>
		{% else %}
			<td><strong>Unsubscribed</strong></td>
		{% endif %}
	</tr>

{% endif %}	